<script>
function check(){
    if(document.answerform.answer.value != ""){
        document.answerform.submit();
    }else{
        document.getElementById("noans").innerHTML = "<font color='red'>please choose some answer</font>";
    }
}
</script>
<html>
<head>
<title>Answer questions</title>
<h1>Answer questions</h1>
</head>
<body>
<h2>Answer the question</h2>
<input type="button" value="home" onclick="javascript:window.location.href='/'">
<input type="button" value="reselect" onclick="javascript:window.location.href='/choose'">
<form method="POST" id="answerform" name="answerform">
{{ quest }} :<br>
{% for choice in choices %}
{{choice.choice}} : <input type="radio" name="answer" value="{{choice.choice}}"><br>
{% endfor %}
<input type="button" name="b" id="b" value="answer" onclick="javascript:check()"><span id="noans"></span>
<input type="hidden" name="question" value="{{ quest }}">
{% csrf_token %}
</form>
</body>
</html>
