<script>
function addchoice(){
    var total = parseInt(document.getElementById("choicenum").value);
    var obj = document.getElementById("choice");
    obj.innerHTML = "";
    if(total > 1){
        for(var i = 0; i < total; i++){
            obj.innerHTML += (i+1) + " : <input name='choice"+(i+1)+"' id='choice"+(i+1)+"' placeholder='choice"+(i+1)+"'><br>";
        }
        obj.innerHTML += "<input type='submit' id='b' value='create'>";
    }else{
        alert("choice must be more than 1");
    }
}
</script>
<html>
<head>
<title>Ask questions</title>
<h1>Ask questions</h1>
</head>
<body>
<h2>Create your question</h2>
<input type="button" value="home" onclick="javascript:window.location.href='/'">
<form method="POST">
Question : <input name="question" id="question" placeholder="Question"><br />
Choices : <input name="choicenum" id="choicenum">
<input type="button" value="select" name="sel" id="sel" onclick="javascript:addchoice()"><br>
<div id="choice" name="choice"></div>
{% csrf_token %}
</form>
</body>
</html>
