<html>
<head>
<title>Choose questions</title>
<h1>Choose questions</h1>
<a href="/">home</a>
<p>
</head>
<body>
<h2>Choose the question</h2>
<form method="POST" action="/answer/">
{% for question in questions %}
<input type="submit" name="{{ question.question }}" value="{{ question.question }}" id="{{ question.question }}" onclick='javascript:document.getElementById("choose").value=value'><br>
{% endfor %}
<input type="hidden" value="" id="choose" name="choose">
{% csrf_token %}
</form>
</body>
</html>
