<script>
function recent(type){
    var today = '<tr><td>Number</td><td>Date</td><td>Question</td><td>Answer</td></tr>{% for data in day %}<tr><td>{{ forloop.counter }}</td><td>{{ data.date }}</td><td>{{ data.question }}</td><td>{{ data.answer }}</td></tr>{% endfor %}';
    var lastmonth = '<tr><td>Number</td><td>Date</td><td>Question</td><td>Answer</td></tr>{% for data in month %}<tr><td>{{ forloop.counter }}</td><td>{{ data.date }}</td><td>{{ data.question }}</td><td>{{ data.answer }}</td></tr>{% endfor %}';
    if(type == "td"){
        document.getElementById("recent").innerHTML = today;
    }else if(type == "lm"){
        document.getElementById("recent").innerHTML = lastmonth;
    }
}
</script>
<html>
<input type="button" value="home" onclick="javascript:window.location.href='/'">
<h1>Statistic</h1>
<h2>Stat</h2>
<table border="1" id="showstat">
<tr>
    <td>question</td>
    {% for i in max %}
    <td>ans/number</td>
    {% endfor %}
    <td>total</td>
</tr>
{% for ques in averages %}
<tr>
    <td>{{ ques.question }}</td>
    {% for data in ques.average %}
    <td>{% if data.num != "A" %}{{ data.answer }}/{{ data.num }}{% endif %}</td>
    {% endfor %}
    <td>{{ques.num}}</td>
</tr>
{% endfor %}
<tr>
<td>TOTAL ANSWER</td>
{% for total in totals %}
<td>{{ total }}</td>
{% endfor %}
</tr>
</table>
<p>
<p>
<h2>Recently</h2>
<form name="chooseform">
Type : <select id="sel" name="sel">
<option value="td">today</option>
<option value="lm">this month</option>
</select><input type="button" name="choose" value="show" onclick="recent(document.chooseform.sel.value)">
<form><br>
<table border="1" id="recent">
<tr>
    <td>Number</td><td>Date</td><td>Question</td><td>Answer</td>
</tr>
<span id="showrecent"></span>
</table>
</html>
